runs/*
debug/
release/
etc/
dist/
sanafe.egg-info/
tutorial/dvs_challenge.net
*.swp
*.yaml
*.png
*.npz
*.parsed
*.o
*.so
*.pdf
perf.csv
messages.csv
potential.csv
spikes.csv
.vscode
.codechecker
gmon.out
sim
__pycache__
cmake_install.cmake
CMakeCache.txt
simcpp.*
_deps/
build/
CMakeFiles/
Makefile
compile_commands.json
