// $Id$

// Copyright (c) 2007-2015, Trustees of The Leland Stanford Junior University
// All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// Redistributions of source code must retain the above copyright notice, this
// list of conditions and the following disclaimer.
// Redistributions in binary form must reproduce the above copyright notice,
// this list of conditions and the following disclaimer in the documentation
// and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.

//8X4 mesh

// Topology
// Based on the NanoMesh NoC architecture[Tse, 2013]  used by Loihi

topology = cmesh;
subnets = 2;
//subnets = 1;
k = 8; // TODO: overriding this, in future remove this too
n = 2;
x = 8;
y = 4;
c = 4;
// xr and yr don't make a ton of sense as variables: there isn't really a need
//  to define these in addition to c
// TODO: remove xr and yr from simulations and calculations
xr = 2;
yr = 2;

// Routing
routing_function = dor_no_express;
use_noc_latency = 0;
//routing_function = xy_yx;

// Flow control
num_vcs     = 1;
vc_buf_size = 8;
wait_for_tail_credit = 1;

// Router architecture
vc_allocator = islip;
sw_allocator = islip;
alloc_iters  = 1;

credit_delay   = 0;
routing_delay  = 0;
//credit_delay   = 1;
//routing_delay  = 1;
vc_alloc_delay = 1;
sw_alloc_delay = 1;

input_speedup     = 1;
output_speedup    = 1;
internal_speedup  = 1.0;

// Traffic
packet_size = 1;

// Simulation
// trace_file = /home/usr1/jboyle/neuro/sana-fe/messages_single_ts.csv;
// Do not randomly generate any input packets
injection_rate = 0.0;
clock_period = 1e-9;
